#center {
	width: 1870px;
	height: 100%;
}

/* 상단 빈 공간 */
#empty {
	box-sizing: border-box;
	width: 98.5%;
	height: 50px;
	/* 아래 5개는 나중에 지우기*/
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: white;
}

/* 메인 */
section {
	border-radius: 10px;
	width: 98.5%;
	height: 1020px;
	margin: 5px 10px 5px 0px;
	overflow: hidden;
	position: relative;
}

#main-section-sub{
	position: absolute;
	margin-top: 38px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid rgb(255, 255, 255, 0.2);
	/* background-color: red; */
	width: 99.5%;
	height: 900px;
	top: 61px;
	text-align: center;
	font-size: 20px;
	border-radius:10px;
}

#mainVideo {
	width: 100%;
	height: 100%;
	left: -400px;
	opacity: 30%;
	border: none;
	border-radius: 10px;
	object-fit: cover; 
	filter: grayscale(50%);
}

.mainTextArea {
	position: absolute;
	top: 430px;
	left: 375px;
	font-size: 25px;
	color: rgb(255, 255, 255, 0.7);
	animation: defaultMsg 2.5s infinite;
	font-family: NEXON Lv1 Gothic OTF;
}
