#cxr {
	width: 150px;
	height: 150px;
}

#cxrName{
	height: 30px;
	text-align: center;
	color: white;
	background-color: #525252;
	border-bottom-left-radius : 10px;
	border-bottom-right-radius : 10px;
}
 
.cxrTable{
	width:700px;
	height:200px;
	padding-top: 760px;
	padding-left: 360px
	
}

#prevBtn {
	margin-left: 10px;
	width: 25px;
	height: 25px;
	color: white;
	filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(36deg) brightness(117%) contrast(112%);
}
#nextBtn {
	margin-top: 173px;
	width: 25px;
	height: 25px;
	color: white;
	filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(36deg) brightness(117%) contrast(112%);
}
#pre{
	border: 0;
	text-align: right;
}
#next{
	border: 0;
}
#proCxrName{
	border-top-left-radius : 10px;
	border-bottom-left-radius : 10px;
	color:white;
	background-color: #525252;
	display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left:10px;
    writing-mode: vertical-lr;
    font-size: 17px
}
#selectedImage{
	width: 760px;
	height: 760px;
}

